<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/THFragments/headList :: headList}">
</head>

<body>

<nav th:replace="~{/THFragments/NavBar :: navbar}"></nav>

<div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
    <div class="card-body">
        <h5 class="card-title">Exito</h5>
        <p class="card-text" th:text="${exito}"></p>
    </div>
</div>
<div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
    <div class="card-body">
        <h5 class="card-title">Error ðŸ‘Ž</h5>
        <p class="card-text" th:text="${error}"></p>
    </div>
</div>
<h1>Lista de Usuarios</h1>

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.rol}"></td>
        <td>
            <a th:href="@{/admin/modificarRol/__${usuario.id}__}" class="btn">
                Cambiar Rol
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>